/* Dark CSS simplified for MAIRA docs */
:root {
    --bg: #313131;
    --text: #fff;
    --muted: #aaa;
    --accent: #ff5b2e;
    --border: #666
}

body {
    background: var(--bg);
    color: var(--text);
    font: 20px/2.0 system-ui;
    margin: 0 1rem;
}

math {
    font: 20px/2.0 system-ui;
    color: var(--accent);
}

mi {
    font-size: 100%;
    margin: 0.25rem;
}

.container {
    width: min(980px, 100%);
    margin: 0 auto;
}

h1 {
    font-size: clamp(30px, 4vw, 40px);
    line-height: 1;
    margin: 1rem 0;
}

.subtitle {
    color: var(--muted);
    margin: 1rem 0;
}

.badges {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0 2rem 0;
}

.badge {
    font-size: 75%;
    border: 1px solid var(--border);
    border-radius: 999px;
    padding: 0.25rem 1rem;
}

.section {
    margin: 1rem 0 2rem 0;
}

.kv {
    display: grid;
    grid-template-columns:auto 1fr;
    gap: 1rem 2rem;
    border: 1px dashed var(--border);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.list3 {
    display: grid;
    grid-template-columns:auto auto 1fr;
    gap: 0 2rem;
    border: 1px dashed var(--border);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.h
{
    color: var(--accent);
}

.ui-label {
    color: var(--accent);
    border: 1px solid color-mix(in srgb, var(--accent) 50%, transparent);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 90%;
}

h2 {
    font-size: 30px;
    color: var(--muted);
    text-transform: uppercase;
    line-height: 1;
    margin: 1rem 0;
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

h2::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--muted);
}

p {
    margin: 1rem 0;
}

.list-compact {
    list-style: square;
    margin-left: 1rem;
}

.important {
    color: var(--accent);
    font-weight: 600
}

hr {
    margin-top: 2rem;
}

.footer {
    margin: 1rem 0;
    color: var(--muted);
    font-size: 75%;
    text-align: center;
}

a {
    color: #6ae1ff;
    text-decoration: none;
    border-bottom: 1px dashed rgba(106, 225, 255, .4)
}

a:hover {
    opacity: .9;
    border-bottom-color: #6ae1ff
}
